# General keys
secretfile filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt

# Kubernetes settings
kubernetes/development/*secrets* filter=git-crypt diff=git-crypt
kubernetes/production/*secrets* filter=git-crypt diff=git-crypt
